body {

  font-family: futura;
  text-align: center;
  color: white;
}

.main {
  background-color: black;
  height: 100vh;
}

.projects {
  color: black;
}

.skills {
  color: black;
}

.contact {
  color: black;
}

h1 {
  font-weight: lighter;
}

h6 {

}

img {
  border: solid black;
}

svg {
  padding-top: 5%;
  height: 30%;
  position: relative;
  z-index: 2;
  padding-bottom: 10%;
}

hr {
  color: black;
  background-color: black;
}

a {
  text-decoration: none;
  color: grey;
}

.skill {
  /*border: solid red;*/
  color: black;
  display: inline-block;
  width: 20%;
}

li {
  padding-left: 0;
  text-align: left;
}
polyline {
  stroke: turquoise;
  stroke-width: 9;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 5s linear infinite;
}

@keyframes dash{
  to{
    stroke-dashoffset: 0;
  }
}
